@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,600;1,500&family=Playfair+Display&display=swap');
*{
    padding: 0;
    margin: 0;
    transition: 0.5s ease;
}

.Cards{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 1700px;
    align-self: center;
}
#LongCard {
    flex: 1;;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

/*SMALL CARDS*/
#Container-SmallCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#SmallCard {
    flex: 1;
    position: relative;
    margin: 10px ;
    transition: 0.7s ease;
}
#SmallCard:hover{
    transition: 0.7s;
    flex: 2;
}
#SmallCard:hover #img-SmallCard{
    filter: blur(1px);
}
#SmallCard:hover #overlay{
    left: 37%;
    transition: 0.7s
}
#SmallCard:not(:hover) #overlay{
    transition: 0.7s
}
#SmallCard:hover #Text-SmallCard{
    left: 35%;
    top: 20%;
}

#Text-SmallCard{
    position: absolute;
    top: 45%;
    left: 30%;
    width: 200px;
    transition: 0.7s ease;
}
#Text-SmallCard h1{
    font-size: 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none; 
}
#main-title-SmallCard {
    background-color: rgba(250, 250, 250, 0.9);
    padding-top: 15px;
    padding-bottom: 15px;  
    width: 200px;
    border: none;
}

#overlay{
    position: absolute;
    top: 45%;
    left: 30%;

}
#overlay h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}


/* LONG CARD ITEMS*/
#Text-LongCard{
    position: absolute;
    top: 45%;
    left: 37%;
    padding-left: 80px;
    padding-right: 80px;
    transition: 0.7s ease;
}
#Text-LongCard h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none; 
}
#main-title{
    background-color: rgba(250, 250, 250, 0.9);
    padding-top: 15px;
    padding-bottom: 15px;  
    width: 200px;
    border: none;
}
#overlay-LongCard {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(68, 68, 68, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    cursor: default;
}
#LongCard:hover #overlay-LongCard{
    bottom: 0;
    height: 100%;
}
#LongCard:hover #Text-LongCard{
    top: 25%;
}
#SmallCard:hover #overlay-LongCard{
    bottom: 0;
    height: 100%;
}
#SmallCard:hover #Text-LongCard{
    top: 25%;
}

#LongCard-Sinop {
    white-space: nowrap; 
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*SOCIAL FELXBOX*/
#flex-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*BUTTON STYLES*/
.btn-cards {
    background-color: rgba(250, 250, 250, 0.9);
    padding: 5px;  
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.btn-cards:hover {
    background-color: rgb(255, 219, 183);
    transition: 0.7s;
}

#img-LongCard{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    transition: .5s ease;
}
#img-SmallCard{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display:block;
    transition: .7s ease;
}
@media (min-width: 1280px) and (max-width: 1700px){  
    .Cards{
        width: 1200px;
        transition: 0.5s ease;
    }
    #SmallCard:hover #overlay{
        left: 35%;
        transition: 0.7s
    }
    #SmallCard:hover #Text-SmallCard{
        left: 35%;
        top: 15%;
    }
    #Text-SmallCard{
        left: 30%;
    }
    #main-title-SmallCard{
        width: 150px;
    }
    #overlay{
        position: absolute;
        top: 45%;
        left: 30%;
    }
    /* LONG CARD ITEMS*/
    #Text-LongCard{
        top: 37%;
        left: 35%;
    }

    #LongCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #LongCard:hover #Text-LongCard{
        top: 20%;
    }
    #SmallCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #SmallCard:hover #Text-LongCard{
        top: 25%;
    }
    #LongCard-Sinop {
        font-size: 17px;
    }    
    
    #img-LongCard{
        height: 250px;
    }
    #img-SmallCard{
        height: 250px;
    }
    .btn-cards {
        width: 150px;
    }
}

@media (min-width: 960px) and (max-width: 1279px){ 
    .Cards {
        width: 900px;
    } 
    #SmallCard:hover #overlay{
        left: 33%;
        transition: 0.7s
    }
    #SmallCard:hover #Text-SmallCard{
        left: 32%;
        top: 20%;
    }
    #Text-SmallCard{
        left: 25%;
    }
    #main-title-SmallCard{
        width: 150px;
    }
    
    #overlay{
        position: absolute;
        top: 45%;
        left: 25%;
    }
    /* LONG CARD ITEMS*/
    #Text-LongCard{
        top: 37%;
        left: 30%;
    }
    #LongCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #LongCard:hover #Text-LongCard{
        top: 20%;
    }
    #SmallCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #SmallCard:hover #Text-LongCard{
        top: 25%;
    }
    #LongCard-Sinop {
        font-size: 13px;
    }    
    
    #img-LongCard{
        height: 250px;
    }
    #img-SmallCard{
        height: 250px;
    }
    .btn-cards {
        width: 150px;
    }
}

@media (min-width: 641px) and (max-width: 959px) {
    .Cards{
        width: 640px;
        margin-left: 0%;
        margin-right: 0%;
    }
    #SmallCard:hover #overlay{
        left: 40%;
        transition: 0.7s
    }
    #SmallCard:hover #Text-SmallCard{
        left: 40%;
        top: 15%;
    }
    #Text-SmallCard{
        left: 40%;
    }
    #main-title-SmallCard{
        width: 150px;
    }
    #overlay{
        position: absolute;
        top: 45%;
        left: 40%;
    }
    /* LONG CARD ITEMS*/
    #Text-LongCard{
        top: 37%;
        left: 23%;
    }
    #LongCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #LongCard:hover #Text-LongCard{
        top: 20%;
    }
    #SmallCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #SmallCard:hover #Text-LongCard{
        top: 25%;
    }
    #LongCard-Sinop {
        font-size: 20px;
        white-space: normal; 
        width: 450px;
        margin-top: 40px;
        text-align: center;
    }    
    
    #img-LongCard{
        height: 250px;
    }
    #img-SmallCard{
        height: 250px;
    }
    .btn-cards {
        width: 150px;
    }
    #Container-SmallCards{
        flex-direction: column;
    }
    
}

@media (max-width: 640px){  
    .Cards{
        width: 640px;
        margin-left: 0%;
        margin-right: 0%;
    }
    #SmallCard:hover #overlay{
        left: 33%;
        transition: 0.7s
    }
    #SmallCard:hover #Text-SmallCard{
        left: 33%;
        top: 15%;
    }
    #Text-SmallCard{
        left: 33%;
    }
    #main-title-SmallCard{
        width: 150px;
    }
    #overlay{
        position: absolute;
        top: 45%;
        left: 33%;
    }
    /* LONG CARD ITEMS*/
    #Text-LongCard{
        top: 37%;
        left: 23%;
    }
    #LongCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #LongCard:hover #Text-LongCard{
        top: 20%;
    }
    #SmallCard:hover #overlay-LongCard{
        bottom: 0;
        height: 100%;
    }
    #SmallCard:hover #Text-LongCard{
        top: 25%;
    }
    #LongCard-Sinop {
        font-size: 20px;
        white-space: normal; 
        width: 450px;
        margin-top: 40px;
        text-align: center;
    }    
    
    #img-LongCard{
        height: 250px;
    }
    #img-SmallCard{
        height: 250px;
    }
    .btn-cards {
        width: 150px;
    }
    #Container-SmallCards{
        display: grid;
    }
    
}
