@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,600;1,500&family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    transition: none;
}

.main {
    display: flex;
    gap: 6rem;
    align-items: center;
    flex-direction: column;
    background: #EBEBEB;
    width: 100%;
    height: 100%;
}

.banner {
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 5rem;
    padding-bottom: 30rem;
    background-color: white;
}

.banner h1 {
    font-size: 150px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #CD3500;
}

.banner h3 {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: black;
}