@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,600;1,500&family=Playfair+Display&display=swap');
*{
    padding: 0;
    margin: 0;
}
.Cards{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    height: 70%;
}
#LongCard {
    flex: 1;;
    position: relative;
}

/*SMALL CARDS*/
#Container-SmallCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#SmallCard {
    flex: 1;
    position: relative;
    margin: 10px ;
    transition: 0.7s ease;
}
#SmallCard:hover{
    transition: 0.7s;
    flex: 2;
}
#SmallCard:hover #img-SmallCard{
    filter: blur(1px);
}
#SmallCard:hover #overlay{
    left: 37%;
    transition: 0.7s
}
#SmallCard:not(:hover) #overlay{
    transition: 0.7s
}
#SmallCard:hover #Text-SmallCard{
    left: 35%;
    top: 20%;
}

#Text-SmallCard{
    position: absolute;
    top: 45%;
    left: 30%;
    width: 200px;
    transition: 0.7s ease;
}
#Text-SmallCard h1{
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none; 
}
#main-title-SmallCard {
    background-color: rgba(250, 250, 250, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;  
    width: 200px;
    border: none;
}

#overlay{
    position: absolute;
    top: 45%;
    left: 30%;

}
#overlay h1 {
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}


/* LONG CARD ITEMS*/
#Text-LongCard{
    position: absolute;
    top: 45%;
    left: 37%;
    padding-left: 80px;
    padding-right: 80px;
    transition: 0.7s ease;
}
#Text-LongCard h1 {
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none; 
}
#main-title{
    background-color: rgba(250, 250, 250, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;  
    width: 200px;
    border: none;
}
#overlay-LongCard {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(68, 68, 68, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    cursor: default;
}
#LongCard:hover #overlay-LongCard{
    bottom: 0;
    height: 100%;
}
#LongCard:hover #Text-LongCard{
    top: 25%;
}
#SmallCard:hover #overlay-LongCard{
    bottom: 0;
    height: 100%;
}
#SmallCard:hover #Text-LongCard{
    top: 25%;
}

#LongCard-Sinop {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*SOCIAL FELXBOX*/
#flex-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*BUTTON STYLES*/
.btn-cards {
    background-color: rgba(250, 250, 250, 0.9);
    padding: 5px;  
    width: 200px;
    height: 50px;
    border: none;
}
.btn-cards:hover {
    background-color: rgb(255, 219, 183);
    transition: 0.7s;
}




#img-LongCard{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    transition: .5s ease;
}
#img-SmallCard{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display:block;
    transition: .7s ease;
}

