@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Playfair+Display&display=swap');
.app{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.title{
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;
}
.title h1{
  font-size: 70px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.title h3{
  font-size: 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}